# YANBOT_WS
__pycache__
*.pyc
.catkin_workspace
.vscode/
.catkin_tools/
build/
devel/
logs/
temp/
thirdparties/
last_seen_imgs/
*.db
*.bag
*.log

# temp files
# src/Cerebellum/wheel_dir/
# !src/Cerebellum/wheel_dir/README.md

# xf
src/Cerebellum/wheel_dir/wheeltec_noetic_src/xf_mic_asr_offline_circle/config/msc/res/asr/common.jet
src/Cerebellum/wheel_dir/wheeltec_noetic_src/xf_mic_asr_offline_circle/config/appid_params.yaml

# third parties ros packages, installed by scripts
src/Cerebellum/realsense_ros/
src/Cerebellum/grounded_sam2/
src/Cerebellum/grounding_sam_ros/
src/Cerebellum/orb_slam3_ros/
src/Cerebellum/paddlex/
