# YANBOT_WS
__pycache__
*.pyc
.catkin_workspace
.vscode/
.catkin_tools/
build/
devel/
logs/
temp/
thirdparties/
last_seen_imgs/
*.db
*.bag
*.log

# temporary files
src/Cerebellum/wheel_dir/
!src/Cerebellum/wheel_dir/README.md

# third parties ros packages, installed by scripts
src/Cerebellum/realsense_ros/
src/Cerebellum/grounded_sam2/
src/Cerebellum/grounding_sam_ros/
src/Cerebellum/orb_slam3_ros/
src/Cerebellum/paddlex/
