<launch>
  <!--打开节点wheeltec_robot，初始化串口等操作-->
  <arg name="odom_frame_id"  default="odom_combined"/>
  <arg name="use_wheeltec_gnss" default="false"/> <!-- 是否使用GPS，默认false -->
  <arg name="use_wheeltec_imu"   default="true"/> <!-- 是否使用wheeltec的惯导，默认false：使用小车控制板板载的IMU芯片 -->
  <arg name="car_mode"  default="brushless_senior_diff"/>
  <node pkg="turn_on_wheeltec_robot" type="wheeltec_robot_node" name="wheeltec_robot" output="screen" respawn="false">
    <param name="usart_port_name"    type="string" value="/dev/wheeltec_controller"/>  
    <param name="serial_baud_rate"   type="int"    value="115200"/>
    <param name="odom_frame_id"      type="string" value="$(arg odom_frame_id)"/> 
    <param name="robot_frame_id"     type="string" value="base_footprint"/> 
    <param name="gyro_frame_id"      type="string" value="gyro_link"/>
    <param name="car_mode"           type="string" value="$(arg car_mode)"/> 
    
    <!-- 里程计修正参数，对来自运动底盘的速度信息进行手动修正 -->
    <param name="odom_x_scale"      type="double" value="1.0"/> 
    <param name="odom_y_scale"      type="double" value="1.0"/> 
    <param name="odom_z_scale_positive"      type="double" value="1.0"/> 
    <param name="odom_z_scale_negative"      type="double" value="1.0"/> 

    <!-- 如果使用飞迪系的惯导、GNSS/RTK模块，对板载IMU话题进行重命名，避免相关节点订阅板载IMU话题 -->
    <remap if="$(arg use_wheeltec_gnss)" from="imu" to="imu_on_board"/>
    <remap if="$(arg use_wheeltec_imu)" from="imu" to="imu_on_board"/>
    </node>

    <!-- 如果使用飞迪系的惯导、GNSS/RTK模块，启动相关launch文件，该节点发布的IMU话题名称就是【/imu】 -->
    <include if="$(arg use_wheeltec_gnss)" 
      file="$(find wheeltec_gps_driver)/launch/wheeltec_nmea_driver.launch" >
   </include>
   <include if="$(arg use_wheeltec_imu)" 
      file="$(find yesense_imu)/launch/yesense_ahrs_1.launch" >
   </include>


</launch>
