<launch>
  <group ns="rtabmap">

    <!-- Use RGBD synchronization -->
    <!-- Here is a general example using a standalone nodelet, 
         but it is recommended to attach this nodelet to nodelet 
         manager of the camera to avoid topic serialization -->

    <arg name="database_path" default="~/.ros/test.db"/>

    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_sync/rgbd_sync" output="screen">
      <remap from="rgb/image"       to="/camera/rgb/image_raw"/>
      <remap from="depth/image"     to="/camera/depth/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/rgb/camera_info"/>
      <remap from="rgbd_image"      to="rgbd_image"/> <!-- output -->
      <remap from="rtabmap/get_map_data" to="get_map_data"/>
      
      <!-- Should be true for not synchronized camera topics 
           (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      <param name="approx_sync"       value="false"/>
    </node>

    <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen" args="--delete_db_on_start">
          <param name="frame_id" type="string" value="base_footprint"/>
          <param name="database_path"       type="string" value="$(arg database_path)"/>
          <param name="subscribe_depth" type="bool" value="false"/>
          <param name="subscribe_rgb"   type="bool" value="false"/>
          <param name="subscribe_rgbd"  type="bool" value="true"/>
          <param name="subscribe_scan"  type="bool" value="true"/>

          <remap from="odom" to="/odom"/>
          <remap from="scan" to="/scan"/>
          <remap from="rgbd_image" to="rgbd_image"/>

          <param name="queue_size" type="int" value="10"/>

          <!-- RTAB-Map's parameters -->
          <param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
          <param name="RGBD/ProximityBySpace"     type="string" value="true"/>
          <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
          <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
          <!-- yutian -->
          <param name="Grid/FromDepth" value="true"/>  <!-- 启用深度数据生成栅格 -->
          <param name="Grid/MaxDepth"    value="2.5"/>    <!-- 最大有效深度距离（米） -->
          <param name="Grid/MinDepth"    value="0.3"/>    <!-- 最小有效深度距离 -->
          <param name="Grid/3D"        value="false"/> <!-- 保持2D栅格 -->
          <param name="Grid/RayTracing" value="true"/> <!-- 启用射线追踪填充障碍物 -->
          <param name="Grid/EraseRayTracing" value="true"/> <!-- 擦除已通过区域的障碍物 -->
          <param name="Grid/NormalsSegmentation" value="false"/> <!-- 禁用复杂法线分割 -->
          <param name="Grid/CellSize"    value="0.05"/>   <!-- 栅格分辨率（与激光雷达一致） -->
          <param name="Grid/Erode" value="true"/>      <!-- 启用侵蚀 -->
          <param name="Grid/ErodeIterations" value="1"/> <!-- 侵蚀迭代次数 -->
          <param name="Grid/ClusterRadius" value="0.2"/> <!-- 障碍物聚类半径 -->
          <param name="Grid/UnknownSpaceFilling" value="false"/> <!-- 禁止填充未知区域 -->
          <param name="Grid/DepthDecimation" value="4"/> <!-- 下采样倍数从2提升到4 -->
          <param name="Grid/FromScan"        value="true"/> <!-- 同时使用激光数据 -->
          <param name="Grid/RangeMax" value="5.0"/> <!--控制深度传感器和激光雷达数据在栅格地图中的最大有效范围 -->
          <param name="Grid/ScanOccupancyRatio" value="0.8"/> <!-- 激光占80%权重 -->
          <param name="Grid/DepthOccupancyRatio" value="0.4"/> <!-- 深度占40%权重 -->

          <param name="Reg/Force3DoF"             type="string" value="true"/>
          <param name="Reg/Strategy"              type="string" value="1"/> <!-- 1=ICP -->
          
          <!-- ICP parameters -->
          <param name="Icp/VoxelSize"                 type="string" value="0.05"/>
          <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/>
    </node>
  </group>
</launch>



<!-- roslaunch rtabmap_ros rtabmapviz.launch \
  rgbd_image:=/rtabmap/rgbd_image \
  scan:=/scan -->
